{% extends "base.html.twig" %}

{% block title %}BeerParadise - {{ produit.nom }} {% endblock %}

{% block body %}

    <div class="container">

        <h1 class="mt-4">{{ produit.nom }}</h1>
        <hr class="my-2">

        {# !!!!! BOUTON RETOUR !!!!! #}
        {# <form>
            <input type="button" class="btn btn-primary btn-sm" value="Retour" onclick="history.go(-1)">
        </form> #}
        <a href="{{ path("produit.index", {'sousCategorie': sousCategorie.id}) }}" class="btn btn-primary btn-sm" title="Retour">Retour</a>

        {# !!!!! MESSAGE FLASH !!!!! #}
        {% for message in app.flashes('success') %}          {# danger = Nom de l'alerte  #}
            <div class="alert alert-success mt-4">           {# alert-danger = Type d'alerte Bootstrap #}
                <h5>{{ message }}</h5>
            </div>
        {% endfor %}

        <div class="row">
            <div class="col-4 produit_image mt-2">
                <img style="max-width: 100%" src="{{ vich_uploader_asset(produit, 'imageFile') }}">
            </div>

            <div class="col mt-2">
                {% if produit.sousCategorie %}
                    <p><strong> Type : </strong>{{ produit.sousCategorie.nom }}</p>
                {% else %}
                    <p><strong> Type : </strong>non renseigné</p>
                {% endif %}


                {% if produit.prix %}
                    <p><strong> Prix : </strong>{{ produit.prix }}€</p>
                {% else %}
                    <p><strong> Prix : </strong>non renseigné</p>
                {% endif %}


                {% if produit.description %}
                <p><strong> Description : </strong>{{ produit.description|raw }}</p>
                {% else %}
                    <p><strong> Description : </strong>non renseignée</p>
                {% endif %}

                <form action="{{ path('add') }}" method="POST">
                    <div class="col mt-4">
                        <input type="hidden" value="{{ produit.id }}" name="id">
                        <button type="submit" class="btn btn-success">Ajouter au panier &nbsp; <i class="fa-solid fa-cart-plus"></i></button>

                        <label for="quantite" class="ms-1" #>Quantité :</label>
                        <input type="number" class="quantite" name="quantite" title="Veuillez indiquer une quantité" min="1" max="999" value="1" required>
                    </div>
                </form>

            </div>
            
        </div>
        
    </div>

{% endblock %}