<nav class="navbar navbar-expand-lg navbar-dark bg-dark py-1">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ path('home.index') }}">BeerParadise<sup>© </sup><i class="fa-solid fa-beer-mug-empty" style="color: #ff006f;"></i></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor02">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link mx-1" href="{{ path('home.index') }}">Accueil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link mx-1" href="{{ path('categorie.index') }}">Boutique</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link mx-1" href="{{ path('about.index') }}">A propos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link mx-1" href="{{ path('contact.index') }}">Nous contacter</a>
                </li>
            </ul>

            <form class="test d-flex mx-5">
                    <input class="form-control me-sm-2" type="search" placeholder="Search">
                    <button class="btn btn-secondary my-2 my-sm-0 d-flex justify-content-center align-items-center" type="submit">Search</button>
            </form>
            
            
            <div class="d-flex mx-1">
                <ul class="navbar-nav me-auto">

                    {% if app.user %} {# Si l'utilisateur est connecté #}

                        <li class="nav-item dropdown" style="margin-right: 6.5rem;">
                            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" 
                            role="button" aria-haspopup="true" aria-expanded="false">{{ app.user.nom }}</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="{{ path('user.edit', {choosenUser : app.user.id}) }}">Modifier mon profil</a>
                                <a class="dropdown-item" href="{{ path('user.editPassword', {choosenUser : app.user.id}) }}">Modifier mon mot de passe</a>
                                
                                {# {% if 'ROLE_ADMIN' in app.user.roles %}  {# Si l'utilisateur connecté à un rôle Admin #}

                                   {# <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="{{ path('admin') }}">Panneau d'administration</a>

                                {% endif %} #}
                                
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{{ path('security.logout') }}">Déconnexion</a>
                            </div>
                        </li>

                    {% else %} {# Si l'utilisateur n'est pas connecté #}
                        
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('security.login') }}">Connexion</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('security.registration') }}">Inscription</a>
                        </li>

                    {% endif %}

                </ul>
            </div>
           
        </div>
    </div>
</nav>