<nav class="navbar navbar-expand-lg navbar-dark bg-dark py-1">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ path('home.index') }}">BeerParadise<sup>© </sup><i class="fa-solid fa-beer-mug-empty" style="color: #ff006f;"></i></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor02">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('home.index') }}">Accueil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('categorie.index') }}">Boutique</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('about.index') }}">A propos</a>
                </li>
               
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Dropdown</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Separated link</a>
                    </div>
                </li>
            </ul>

            <form class="test d-flex mx-5">
                    <input class="form-control me-sm-2" type="search" placeholder="Search">
                    <button class="btn btn-secondary my-2 my-sm-0 d-flex justify-content-center align-items-center" type="submit">Search</button>
            </form>
            
            <div class="d-flex mx-1">
                <ul class="navbar-nav me-auto">
                
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('security.login') }}">Connexion</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('security.registration') }}">Inscription</a>
                    </li>

                </ul>
            </div>
           
        </div>
    </div>
</nav>