{% extends 'base.html.twig' %}

{% block title %}BeerParadise - Accueil{% endblock %}

{% block body %}
<div class="container mt-2">

    {# !!!!! MESSAGE FLASH !!!!! #}
    {% for message in app.flashes('success') %}          {# success = Nom de l'alerte  #}
        <div class="alert alert-success mt-4">           {# alert-sucess = Type d'alerte Bootstrap #}
            {{ message }}
        </div>
    {% endfor %}

    <div class="jumbotron">
        <h1 class="display-4">Bienvenue sur BeerParadise !</h1>
        <p class="lead">BeerParadise est, comme son nom l'indique, le paradis de la bière ! Ici, tu trouveras forcement une bière (ou plusieurs... <i class="fa-solid fa-face-smile-wink"></i>) à ton gout !!! <br>
         Donc n'hésite pas à consulter notre boutique et à t'inscrire sur notre site, si tu ne fais pas encore parti de notre communauté de passionnés... </p>
        <hr class="my-2">

        {% if app.user %} {# Si l'utilisateur est connecté #}
            <p>Une petite mousse ? C'est par ici : </p>
            <a class="btn btn-primary btn-lg" href="{{ path('categorie.index') }}" role="button">Boutique</a>
        {% else %} {# Si l'utilisateur n'est pas connecté #}
            <p>Pour nous rejoindre, c'est par ici : </p>
            <a class="btn btn-primary btn-lg mx-1" href="{{ path('security.registration') }}" role="button">Inscription</a>
            <a class="btn btn-primary btn-lg" href="{{ path('security.login') }}" role="button">Connexion</a>
        {% endif %}

    </div>


    {# !!!!!  CARROUSEL  !!!!! #}
    <div class="row d-flex mx-auto">
    <h4 class="d-flex justify-content-center"><i class="fa-solid fa-beer-mug-empty" style="color: #ff006f;"></i> &nbsp; Nos petites nouvelles :</h4>
        
        <div class="d-flex justify-content-center">
            <div id="carouselExampleCaptions" class="carousel slide justify-content-center" style="max-width: 40%" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="4" aria-label="Slide 5"></button>
                    <button type="butreturn $this->render('pages/panier/panierIndex.html.twig', [
        //     'produit' => $produit,
        // ]);on" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="5" aria-label="Slide 6"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="6" aria-label="Slide 7"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="7" aria-label="Slide 8"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="8" aria-label="Slide 9"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="9" aria-label="Slide 10"></button>
                </div>
                <div class="carousel-inner">
                    {% for produit in produits %}
                        <div class="carousel-item {% if loop.first %}active{% endif %}"> {# loop.first : Ajoute le terme "active" à la class du premier élément de la boucle #}
                                <img src="{{ vich_uploader_asset(produit, 'imageFile') }}" class="carousel-image d-block mx-auto img-fluid" style="max-width: 70%; height: auto; margin: 0 auto; border-radius:10px;" alt="{{ produit.nom }}">
                            <div class="carousel-caption d-none d-md-block">
                                <a href="{{ path('produit.show', {produit: produit.id}) }}" class="linkCard">
                                <h5>{{ produit.nom }}</h5>
                                </a>
                                <a href="{{ path('produit.index', {sousCategorie: produit.sousCategorie.id}) }}" class="linkCard">
                                {{ produit.sousCategorie }}
                                </a>
                                <p></p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    </div>


    <div class="mt-3">
        <h4>Le savais-tu ?</h4>
        <p>La bière est la plus ancienne boisson alcoolisée connue au monde et la boisson la plus consommée après l'eau et le thé ! #BeerLover <i class="fa-solid fa-heart" style="color: #ff0000;"></i></p>
    </div>

</div>
{% endblock %}
