{% extends 'base.html.twig' %}

{% block title %}BeerPardise - Panier{% endblock %} 

{% block body %}

    <div class="container mt-4">
        <h1>Panier</h1>
        <hr class="my-2">

        {# <form>
            <input type="button" class="btn btn-primary btn-sm" value="Retour" onclick="history.go(-1)">
        </form> #}

        <table class="table table-hover">
            <thead>
                <tr>
                    <th class="text-center align-middle" scope="col">Produit</th>
                    <th class="text-center align-middle" scope="col">Image</th>
                    <th class="text-center align-middle" scope="col">Prix</th>
                    <th class="text-center align-middle" scope="col">Quantité</th>
                    <th class="text-center align-middle" scope="col">Total</th>
                    <th class="text-center align-middle" scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for item in listePanier %}
                    <tr class="table-light">
                        <th scope="row" class="text-center align-middle"><a href="{{ path('produit.show', {produit: item.produit.id}) }}" class="cardHeader">{{ item.produit.nom }}</a></th>
                        <td class="text-center align-middle" style="width: 20%"><a href="{{ path("produit.show", { produit: item.produit.id }) }}">
                            <img style="max-width: 20%" src="{{ vich_uploader_asset(item.produit, 'imageFile') }}" alt="{{ item.produit.nom }}">
                        </a></td>
                        <td class="text-center align-middle">{{ item.produit.prix }} €</td>
                        <td class="text-center align-middle">{{ item.quantite }}</td>
                        <td class="text-center align-middle">{{ item.produit.prix * item.quantite }} €</td>
                        <td>
                            <div class="d-flex justify-content-center align-items-center">
                                <form action="{{ path('add')}}" method="POST"> {# Pour le bouton d'ajout +1 dans le panier #}
                                    <input type="hidden" value="{{item.produit.id}}" name="id">
                                    <input type="hidden" value="1" name="quantite">
                                    <button type="submit" class="btn btn-success" title="Ajouter un article"><i class="fa-solid fa-cart-plus"></i></button>
                                </form>
                                <a href="{{path("remove", {id: item.produit.id})}}" class="btn btn-warning" title="Supprimer un article"><i class="fa-solid fa-minus"></i></a>
                                <a href="{{path("delete", {id: item.produit.id})}}" class="btn btn-danger" title="Supprimer la ligne"><i class="fa-solid fa-trash-can"></i></a>
                            </div>
                        </td>
                    </tr>
                {% else %} {# Si il n'y a rien à passer dans le "for", si le panier est vide #}
                    <tr>
                        <td colspan="6" class="text-center">Votre panier est vide...</td>
                    </tr> 
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="6">Total du panier : {{ total }} €</td>
                </tr>
            </tfoot>
        </table>
        {% if listePanier != [] %}
            <a href="{{ path('commande.index') }}" class="btn btn-success" title="Passer la commande">Passer la commande &nbsp; <i class="fa-solid fa-cart-shopping"></i></i></a>
        {% endif %}
    </div>

{% endblock %}

