{% extends 'base.html.twig' %}

{% block title %}BeerPardise - Catégories {% endblock %} 

{% block body %}

    <div class="container mt-4">
        <h1>Nos catégories de bières</h1>
        <hr class="my-2">

        {# <form>
            <input type="button" class="btn btn-primary btn-sm" value="Retour" onclick="history.go(-1)">
        </form> #}

        <a href="{{path("home.index")}}" class="btn btn-primary btn-sm" title="Retour">Retour</a>
        
        <div class="d-flex justify-content-around flex-wrap">

            {% for categorie in categories %}
                <div class="card border-light mt-3 mx-2" style="max-width: 30%;">
                    <div class="card-header bg-primary d-flex justify-content-between align-items-center">
                        <h5 class="card-title m-0">
                            <a href="{{ path('souscategorie.index', {categorie: categorie.id}) }}" class="cardHeader">
                                        <i class="fa-solid fa-beer-mug-empty" style="color: #ff006f;"></i> {{ categorie.nom }}
                            </a></h5>
                    </div>
                    <div class="card-body">
                        {# <h4 class="card-title">
                            <a href="{{ path('souscategorie.index', {categorie: categorie.id}) }}" class="linkCard">
                                {{ categorie.nom }}
                            </a>
                        </h4> #}

                        {# !!!!!  IMAGE  !!!!! #}
                        {% if categorie.imageName %}
                            <div class="categorieImage">
                                <img style="max-width: 100%" src="{{ vich_uploader_asset(recipe, 'imageFile') }}">
                            </div>
                        {% else %}
                            <div></div>
                        {% endif %}
                        <p class="card-text mt-2">{{ categorie.description|slice(0, 200) ~ '...' }}</p>
                        {# Le filtre slice sert à couper la description si celle-ci est trop longue #}
                        {# Ici, la description est coupée après le 100ème charactère et il y a "..." à la fin #}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}